//Colours
$colour-bg: #E5E5E5;
$colour-white: #fff;
$white: #fff;
$colour-black: #000;
$black: #000;
$colour-primary: #194862;
$colour-primary-fade: #CAD7DE;
$colour-secondary: #EF3900;
$colour-secondary-fade: #FFF7CC;
$colour-neutral: #838486;
$colour-neutral-light: #E3E3E3;


//Fonts
$font-16px: 1rem;
$font-19px: 1.1875rem;
$font-22px: 1.375rem;
$font-23px: 1.4375rem;
$font-26px: 1.625rem;
$font-29px: 1.8125rem;
$font-32px: 2rem;
$font-38px: 2.375rem;
$font-48px: 3rem;
$font-58px: 3.625rem;


