header#masthead {
    height: var(--header-height);
    position: absolute;
    width: 100%;
	max-width:100vw;
    top: 0;
    padding: 1rem var(--margin) 0;
	z-index:20;
	background-color:$white;
	display:grid;
	
}


/*Header animation*/
header#masthead{
	&.addFixed{
		position:fixed;
		transform: translate3d(0, -100%, 0);
		transition: padding 0ms ease;
	}
	&.slideOut{
		transition: transform 600ms ease-in;
		transform: translate3d(0, -100%, 0);
		position: fixed;
		&.slideInDown{
			transform: translate3d(0,0,0);
			position:fixed;
			box-shadow:0 4px 4px rgba(0, 0, 0, 0.3);
		}
	}
}
@include media1200{
	header#masthead{
		&.slideOut.slideInDown{
			transform: translate3d(0,-130px,0);
		}
	}
}
/*This sets padding on everypage to account for the absolute positioned header*/
#primary{
	padding-top:var(--header-height);
	transition: padding var(--transition) ease;
}

.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

	}

	a {
		display: block;
		text-decoration: none;
	}
}

#hamburger {
    position: absolute;
	right: var(--margin);
	top: .5rem;
	background: transparent;
	transition:top var(--transition) ease;
	padding:0 5px;
}

.hamburger {
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: calc(var(--transition) / 2);
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible; 
}

.hamburger:hover {
	opacity: 0.8;
}

.hamburger.is-active:hover {
	opacity: 0.8; 
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: $black; 
}

.hamburger-box {
	width: 40px;
	height: 25px;
	display: inline-block;
	position: relative; 
} 

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px; 
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: $black;
	border-radius: 0;
	position: absolute;
	transition-property: transform;
	transition-duration: calc(var(--transition) / 2);
	transition-timing-function: ease; 

}


.hamburger-inner::before, .hamburger-inner::after {
	content: "";
	display: block; 
}



.hamburger-inner::before {
	top: -8px; 
}



.hamburger-inner::after {
	bottom: -16px; 
}

/*

* Hamburger Collapse

*/

.hamburger--collapse .hamburger-inner {
	top: auto;
	bottom: 0;
	transition-duration: calc(var(--transition) / 2.2);
	transition-duration: calc(var(--transition) / 2.2);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse .hamburger-inner::after {
	top: -16px;
	transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear; 
}

.hamburger--collapse .hamburger-inner::before {
	transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--collapse.is-active .hamburger-inner {
	transform: translate3d(0, -4px, 0) rotate(-30deg);
	transition-duration: calc(var(--transition) / 1.8);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger--collapse.is-active .hamburger-inner::after {
	top: 0;
	opacity: 0;
	transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear; 
}

.hamburger--collapse.is-active .hamburger-inner::before {
	top: 0;
	transform: rotate(-120deg);
	transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); 
}