<header id="header" class="header" role="banner">
    <div class="header--wrapper">
          {{ page.header }}
          <button class="hamburger hamburger--collapse" type="button" id="hamburger">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </div>
</header>
<div id="sticky-header-jump-fix"></div>